.products {
    width: 95%;
    height: 80%;
    background-color: #F5F6FA;

    table {
        width: 90%;
        margin: 0 5%;
        padding-top: 20px;
        opacity: 1;
        border: none;
        

        thead,
        tbody {
            width: 100%;
            background-color: #FFFFFF;
            border: 0.6px solid #D5D5D5;

            tr {
                width: 100%;
                

                td,
                th {
                    padding: 16px 0;
                    width: 20%;
                    text-align: center;
                    color: #202224;

                    img {
                        width: 50px;
                        margin: 5% 0;
                        cursor: pointer;
                        &:hover{
                            background-color:#D5D5D5;
                            transition: 0.3s all;
                        }
                    }
                }
            }
        }
    }

    .action {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: large;
            background-color: #F5F6FA;
            padding: 3% 5%;
            border: 1px solid #D5D5D5;
        }

        .edit:hover {
            color: #F5F6FA;
            background-color: #3085d6;
            transition: 1s all;
        }

        .delete:hover {
            color: #F5F6FA;
            background-color: #EF3826;
            transition: 1s all;
        }
    }

    .delete {
        color: #EF3826;
        border-radius: 0 16px 16px 0;
        cursor: pointer;
    }

    .edit {
        color: #979797;
        border-radius: 16px 0 0 16px;
        cursor: pointer;
    }
}