.upper {
    width: 100%;
    position: relative;
    background-color: #F5F6FA;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;

    .title {
        font-family: Nunito Sans;
        font-weight: 700;
        font-style: Bold;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: 0px;
    }

    .btn {
        
        gap: 4px;
        padding: 8px 16px;
        display: flex;
        color: #F5F6FA;
        background-color: #4880FF;
        text-decoration: none;
        opacity: 1;
        border-width: 1px;
        border-radius: 8px;
        &:hover{
            background-color: #0b5ed7;
        }
    }
}