.form {
    position: absolute;
    max-width: 498px;
    min-height: 90vh;
    top: 40px;
    left: 520px;
    border-radius: 16px;
    background: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .part {
        width: 90%;
        height: auto;
        margin: 5%;
        text-align: center;
    }

    h1 {
        width: 100%;
        color: #202224;
    }

    p {
        width: 100%;
        color: #202224;
        font-size: 16px;
        font-weight: 600;
        opacity: 80%;
        margin: 4px;
    }

    div {
        text-align: start;
        width: 100%;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 4px 0;

        input {
            width: 100%;
            padding: 16px;
            height: 40px;
            border:1px solid #D8D8D8;
            border-radius: 6px;
            margin: 4px 0;
            background-color: #F1F4F9;

        }
    }

    .collection {

        height: 60px;
        display: flex;
        width: 100%;

        div {
            width: 48%;
        }
    }

    .label {

        width: 100%;
        color: #202224;

    }

    .email {
        margin: 20px 0px;
    }

    .protofile {
        width: 100%;
        height: 100px;
        margin-top: 20px;
    }

    .file {
        width: 100px;
        height: 100px;
        border-radius: 4px;
        border: 1px dashed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F1F4F9;
        font-size: 40px;
        color: #4880FF;
        cursor: pointer;

        p {
            width: 40px;
            height: 36px;
            top: 469px;
            left: 500px;


        }
    }

    .submit {
        width: 90%;
        height: 50px;
        border: #FFFFFF;
        border-radius: 8px;
        background-color: #4880FF;
        color: #FFFFFF;
        margin: 4px 5%;
        cursor: pointer;
    &:hover{
        background-color: #0b5ed7;

    }}

    a {
        color: #4880FF;
    }
}

@media screen and (max-width: 1040px) {
    .form {

        left: 25vw;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 720px) {
    .form {
        left: 18vw;
    }
}