.header{
    width: 85vw;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.3vw;
h1{
    font-family: Nunito Sans;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;

}
.information{
    width: 120px;
    display: flex;
    gap: 18px;
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    h1{
        padding-bottom: 3px;
    }
}
}