nav {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: Nunito Sans;
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0px;
        margin: 16px 5% 0 5%;
        color: #202224;

        span {
            color: #4880FF;
        }

    }

    .navheader {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 20px;
    }

    ul {
        margin-top: 5vh;
        top: 93px;
        left: 1px;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: #202224;

        li {
            width: 90%;
            height: 40px;
            left: 22.9px;
            opacity: 1;
            border-radius: 6px;
            padding: 8px;
            margin: 5%;
            gap: 10px;
            display: flex;
            cursor: pointer;
        }

        .active {
            width: 184px;
            background-color: #4880FF;
            color: #FFFF;
        }
    }

    .logout {
        /* width: 100%; */
        max-width: 220px;
        display: flex;
        justify-content: center;
        padding: 20% 40px;
        gap: 20px;
        border-radius: 16px;
        cursor: pointer;

        button {
            border: none;
            font-family: Nunito Sans;
            background-color: #FFF;
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 1px;
            color: #202224;
            cursor: pointer;
        }
    }
}

.showbtn {
    display: none;
}

.shownav {
    display: none;
}

.display {
    display: none;
}

@media screen and (max-width: 850px) {
    nav {
        height: 52px;
    }

    .navheader {
        display: none;

    }

    .display {
        display: none;
    }

    .showbtn {
        display: block;
        margin: 8px;
        font-size: 30px;
        height: 40px;
        color: #202224;
        cursor: pointer;
    }

    .shownav {
        width: 200px;
        height: 300px;
        display: block;
        position: relative;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        color: #202224;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
        padding: 20px 0;
        cursor: pointer;

        li {
            display: flex;
            justify-content: space-evenly;
            font-size: 20px;
        }
    }

    .active {
        background-color: #4880FF;
        color: #FFFF;
        border-radius: 6px;
        padding: 8px;
    }
}